In [37]:
import pandas as pd
import numpy as np

In [38]:
df_2015=pd.read_csv(r'./Datasets/marathon_results_2015.csv')
df_2016=pd.read_csv(r'./Datasets/marathon_results_2016.csv')
df_2017=pd.read_csv(r'./Datasets/marathon_results_2017.csv')

df=pd.concat([df_2015,df_2016,df_2017])
original_row_count = len(df)
print(original_row_count)
df.head()

79638

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

In [39]:
df[['Hours','Minutes','Seconds']]=df['Official Time'].str.split(":",expand=True)
df.head()
# convert hours, minutes and sectonds colums to integers
df['Hours']=df['Hours'].astype(int)
df['Minutes']=df['Minutes'].astype(int)
df['Seconds']=df['Seconds'].astype(int)

# Manually calculte total time in seconds
df['finish_time_in_seconds']=df['Hours'] * 3600 +df['Minutes'] * 60 +df['Seconds']

In [40]:
df[['Pace_Hours','Pace_Minutes','Pace_Seconds']]=df['Pace'].str.split(":",expand=True)
df.head()
# convert hours, minutes and sectonds colums to integers
df['Pace_Hours']=df['Pace_Hours'].astype(int)
df['Pace_Minutes']=df['Pace_Minutes'].astype(int)
df['Pace_Seconds']=df['Pace_Seconds'].astype(int)

In [41]:
# perform simple random sampling (select)

# picks sample of 7964
sample_df=df.sample(frac=0.1,random_state=42)

In [42]:
# Perforn systematic probality sampling (pick every 7 th record)

#::7 means from start to end pick every 7th record
# , : means pick up all the elements
# picks 11377 samples
sample_df=df.loc[::7,:]

In [43]:
sample_row_count= len(sample_df)
print(f"Number of rows in the original df : {original_row_count}")
print(f"Number of rows in the sample df : {sample_row_count}")

Number of rows in the original df : 79638
Number of rows in the sample df : 11377

In [ ]:
# Stratified Probality sampling

# Find total number of male and female
total_males=len(df[df['M/F']== 'M'])
total_females=len(df[df['M/F']== 'F'])

In [20]:
#calculate proportionate sample of male and female athletes
sample_size=int(0.1 * original_row_count)
sample_males=int(0.1 * total_males)
sample_females=int(0.1 * total_females)

# Generate propprtione samples of male and female ethletes
male_sample=df[df['M/F'] == 'M'].sample(n=sample_males,random_state=42)
female_sample=df[df['M/F'] == 'F'].sample(n=sample_females,random_state=42)

#combine the males and female samples into a single sample df
sample_df=pd.concat([male_sample,female_sample])

# get the total number of rows in the sampled df
sample_row_count = len(sample_df)

In [ ]:
# Clustering Sampling
# picks 5331 samples

# Find Unique countries the althetes are from 
unique_couttries = df['Country'].unique()
num_countries=len(unique_couttries)

# Randomly select half of the countries
np.random.seed(42)

# choice() function in np selects ramdom samples from an array
selected_countries=np.random.choice(unique_couttries,size=int(num_countries//2),replace=False) # REPLACE false means do not allow the same country twice or more

# create a new dataframe containing all records of the selected countries
sample_df= df[df['Country'].isin(selected_countries)]

# get the total number of rows in the sampled df
sample_row_count=len(sample_df)

In [27]:
sample_row_count= len(sample_df)
print(f"Number of rows in the original df : {original_row_count}")
print(f"Number of rows in the sample df : {sample_row_count}")

Number of rows in the original df : 79638
Number of rows in the sample df : 5331

In [29]:
# print the number of unique countries in the smapled df
print(f"Number of unique countries in the sampled df: {len(sample_df['Country'].unique())}")
print(f"\nSlected Countries: {selected_countries}")

Number of unique countries in the sampled df: 52

Slected Countries: ['COL' 'JAM' 'EST' 'IND' 'PAN' 'SMR' 'NGR' 'LUX' 'NZL' 'ETH' 'SWE' 'SUI'
 'BDI' 'ALG' 'UGA' 'RSA' 'TWN' 'AUT' 'AUS' 'CHI' 'GRN' 'ARG' 'DEN' 'PHI'
 'SIN' 'BAH' 'ECU' 'TPE' 'KOR' 'BEL' 'ALB' 'BLR' 'MGL' 'QAT' 'FIN' 'ZIM'
 'ITA' 'URU' 'ESA' 'NOR' 'FRA' 'GER' 'UAE' 'NED' 'JPN' 'PER' 'TUR' 'LAT'
 'GUA' 'BRA' 'JOR' 'ISL']

In [ ]:
# for the marathon dataset find the conditional probality of finish within hours given thet pace < 8 miniutes per mile
# use the same code as before to find finished time in seconds and pace in seconds
# define the conditions

condition_A=df['finish_time_in_seconds'] <=3 * 60* 60 # finish within 3 hours
condition_B = df['Pace_Seconds'] < 8 * 60 # pace less than 8 min per km

# calculate probabilities
P_B = len(df[condition_B]) / len(df)
P_A_and_B = len(df[condition_A & condition_B]) / len(df)

# conditional probability P(A | B)
# P(A,B) = P(A) x P(B|A)
P_A_given_B = P_A_and_B / P_B 
print(f"{P_A_given_B}")
#  Manually Calculating the

0.06981591702453603

In [31]:
df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

#### for diabetes.csv dataset find the conditional probality that a persons glucose levels are > 110 given that the perons BMI >= 25 then reverse it : find the conditional probability that a person has BMI >= 25 given that the person glucose levels are > 100

In [84]:
df=pd.read_csv(r'C:\Users\dai.STUDENTSDC\AppData\DAI-1319\Data Analytics\Datasets\diabetes.csv')

In [85]:
df.head()
condition_A=df['Glucose']> 110
condition_B=df['BMI']>= 25

P_B = len(df[condition_B]) / len(df)
P_A_and_B = len(df[condition_A & condition_B]) / len(df)

print(P_A_and_B /P_B)

0.6175115207373272

In [89]:
condition_B=df['Glucose']> 110
condition_A=df['BMI']>= 25

P_B = len(df[condition_B]) / len(df)
P_A_and_B = len(df[condition_A & condition_B]) / len(condition_B)
condition_B.sum()
# print(P_A_and_B /P_B)

448

In [58]:
(0.9*1)/0.1

9.0

In [68]:
df = pd.read_csv(r"C:\Users\dai.STUDENTSDC\Downloads\titanic.csv")
print(df.head())
total_passenger=len(df)

#count of survived passenger
srivived_count=len(df[df['survived']==1])

# ount of female passesnger
female_count= len(df[df['gender']=='female'])

# count of females who survived
female_survived_count=len(df[(df['survived'] == 1) & (df['gender'] =='female')])

# calculate probabilities
p_survived = srivived_count / total_passenger
p_female = female_count/ total_passenger
p_female_giiven_survived = female_survived_count / srivived_count

# Applying bayers theorem

p_survived_given_female=(p_female_giiven_survived * p_survived) / p_female
print(f" Probability of survival given that the passenger is female {p_survived_given_female}")

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
 Probability of survival given that the passenger is female 0.7420382165605095

In [ ]:
df=pd.read_csv(r'C:\Users\dai.STUDENTSDC\AppData\DAI-1319\Data Analytics\Datasets\nobel.csv')
female_laureate=df['gender'] == 'female'
physics_catogory=df['category'] == 'Physics'
physics_female=(df['category'] == 'Physics') & (df['gender'] == 'female')
physics_female_count=physics_female.sum()
physics_catogory_count=physics_catogory.sum()
female_laureate_count=female_laureate.sum()
p_female = female_laureate_count / len(df)
p_physics= physics_catogory_count / len(df)
p_physics_female=(physics_female_count)/ len(df)
p_physics_and_female=p_physics_female/p_female
p_physics_and_female
# df.category
# df.columns

0      False
1       True
2      False
3      False
4       True
       ...
945     True
946    False
947    False
948    False
949    False
Name: category, Length: 950, dtype: bool