In [162]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

#### 1Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
arr = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [4]:
print(type(pd.Series([1,2,3,4,56,5,56])))

print(type(list(pd.Series([1,2,3,4,56,5,56]))))

<class 'pandas.core.series.Series'>
<class 'list'>

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [5]:
ser1=pd.Series([1,2,3,45,4,6,7,7,34])
ser2=pd.Series([234,56,56,2,98,56,6,567,12])

print("\nAddition \n",ser1+ser2)
print("\nSubtract \n",ser1-ser2)
print("\nMultiply \n",ser1*ser2)
print("\nDivide \n",ser1/ser2)

Addition
 0    235
1     58
2     59
3     47
4    102
5     62
6     13
7    574
8     46
dtype: int64

Subtract
 0   -233
1    -54
2    -53
3     43
4    -94
5    -50
6      1
7   -560
8     22
dtype: int64

Multiply
 0     234
1     112
2     168
3      90
4     392
5     336
6      42
7    3969
8     408
dtype: int64

Divide
 0     0.004274
1     0.035714
2     0.053571
3    22.500000
4     0.040816
5     0.107143
6     1.166667
7     0.012346
8     2.833333
dtype: float64

#### 4. Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [6]:
ser1=pd.Series([1,2,3,45,4,6,7,7,34])
ser2=pd.Series([1,56,56,2,98,56,6,567,12])
ser1==ser2

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [7]:
dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df=pd.Series(dict1)
print("Original dictionary:")
print(dict1)
print("\nConverted series:")
df

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [8]:
lst=[10,20,30,40,50]
print("NumPy array:\n",lst)
print("\nSeries :\n",pd.Series(np.array(lst)))

NumPy array:
 [10, 20, 30, 40, 50]

Series :
 0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a
Series.

In [9]:
lst=[100,200,'python',300.12,400]
df=pd.Series(lst)
print("Original Data Series:\n",df)

df=df.map(lambda x: x if isinstance(x,(float,int)) else np.nan)
print("\nChange the said data type to numeric:\n",df)

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object

Change the said data type to numeric:
 0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [10]:
dict1=data = {'col1': [1, 2, 3, 4, 7, 11],
        'col2': [4, 5, 6, 9, 5, 0],
        'col3': [7, 5, 8, 12, 1, 11]}

df= pd.DataFrame(dict1)
ser1=pd.Series(df.iloc[:,0])
print("Original DataFrame\n",df)
print("\n1st column as a Series:\n",ser1)
type(ser1)

Original DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
 0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

pandas.core.series.Series

9. Write a Pandas program to convert a given Series to an array.

In [14]:
data = pd.Series([100, 200, 'python', 300.12, 400])
np_arr=np.array(data)
print(np_arr)
type(np_arr)

[100 200 'python' 300.12 400]

numpy.ndarray

10. Write a Pandas program to convert Series of lists to one Series.

In [21]:
original_series = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

print("Original Series of list")
print(original_series)

one_series = original_series.explode()
print("\nOne Series")
print(one_series)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

One Series
0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [32]:
data = pd.Series([100, 200, 'python', 300.12, 400])
print("Original Data Series:\n",data)
sorted_data = data.sort_values(key=lambda x: x.astype(str).str.lower())
sorted_data

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [39]:
data = pd.Series([100, 200, 'python', 300.12, 400])
print("Original Data Series:\n",data)
pd.concat([data,pd.Series([500,'php'])])

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and
condition.

In [47]:
data=pd.Series(np.arange(11))
print("Original Data Series:\n",data)
print()
print(data[:6])

Original Data Series:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

14. Write a Pandas program to change the order of index of a given series.

In [14]:
ser1=pd.Series([1,2,3,4,5],index=["A",'B','C','D','E'])
print("Original Data Series: \n",ser1)
re_indexed=ser1.reindex(index=["B",'A','C','D','E'])
print("\nData Series after changing the order of index:\n",re_indexed)

Original Data Series:
 A    1
B    2
C    3
D    4
E    5
dtype: int64

Data Series after changing the order of index:
 B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a
given Series.

In [17]:
ser1=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
mean=ser1.mean()
std=ser1.std()
print("Original Data Series:\n",ser1)
print("\nMean of the said Data Series:\n",mean)
print("\nStandard deviation of the said Data Series:\n",std)

Original Data Series:
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

Mean of the said Data Series:
 4.818181818181818

Standard deviation of the said Data Series:
 2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given
series.

In [24]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([2,4,6,8,10])
ser=ser1[~ser1.isin(ser2)]
print("Original Series 1:\n",ser1)
print("\nOriginal Series 2:\n",ser2)
print("\nItems of sr1 not present in sr2:\n",ser)

Original Series 1:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

Original Series 2:
 0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
 0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [33]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([2,4,6,8,10])
ser=ser2[ser1.isin(ser2)]
not_common = pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]])
print("Original Series 1:\n",ser1)
print("\nOriginal Series 2:\n",ser2)
print("\nItems of sr1 not present in sr2:\n",not_common)

Original Series 1:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

Original Series 2:
 0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
 0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.

In [41]:
ser=np.round(np.random.randn(20),5)
ser=pd.Series(ser)
print("Original Series:\n",ser)
print(f"\nMinimum, 25th percentile, median, 75th, and maximum of a given series:\n {ser.min()} {ser.quantile(0.25)} , {ser.median()} {ser.quantile(0.75)} {ser.max()}")

Original Series:
 0     0.48480
1    -0.05073
2    -0.07038
3    -0.08558
4     1.96390
5    -0.44335
6    -0.34107
7    -1.61102
8     1.02373
9     0.19781
10    0.57729
11   -0.83017
12    0.05682
13    0.24628
14   -1.46939
15    0.19893
16   -0.01028
17    0.43367
18   -1.03862
19    0.94104
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
 -1.61102 -0.36663999999999997 , 0.023270000000000002 0.44645250000000003 1.9639

19. Write a Pandas program to calculate the frequency counts of each unique value of a
given series.

In [49]:
ser1=pd.Series(np.random.randint(0,40,size=40))
print("Sample Output:\n",ser1)
print("\nFrequency of each unique value of the said series.\n",ser1.value_counts())

Sample Output:
 0     15
1     16
2     11
3     11
4     37
5     38
6     34
7     11
8     28
9     27
10    32
11    22
12     9
13     0
14    28
15    28
16    28
17    13
18    20
19    33
20     8
21    25
22    24
23    38
24    33
25    22
26    19
27     1
28    22
29    24
30    17
31    23
32    29
33     0
34    19
35     6
36    26
37     4
38    28
39    20
dtype: int32

Frequency of each unique value of the said series.
 28    5
11    3
22    3
38    2
19    2
24    2
20    2
0     2
33    2
15    1
1     1
4     1
6     1
8     1
9     1
34    1
13    1
27    1
26    1
17    1
37    1
32    1
23    1
29    1
25    1
16    1
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.

In [55]:
ser1=pd.Series(np.random.randint(1,3,size=14))
print("Original Series: \n",ser1)
print("Frequency\n",ser1.value_counts())
ser1=ser1.map(lambda x : x if x == ser1.mode()[0] else 'Other')
print("\n Replaced Series with Other\n",ser1)

Original Series:
 0     1
1     1
2     2
3     2
4     2
5     2
6     1
7     1
8     2
9     1
10    2
11    2
12    2
13    1
dtype: int32
Frequency
 2    8
1    6
dtype: int64

 Replaced Series with Other
 0     Other
1     Other
2         2
3         2
4         2
5         2
6     Other
7     Other
8         2
9     Other
10        2
11        2
12        2
13    Other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [64]:
ser1=pd.Series(np.random.randint(4,6,size=10))
num_index=ser1[ser1 % 5 == 0].index
print("Original Series: \n",ser1)
print("Positions of numbers that are multiples of 5:",num_index)

Original Series:
 0    5
1    4
2    5
3    5
4    4
5    5
6    4
7    4
8    4
9    5
dtype: int32
Positions of numbers that are multiples of 5: Int64Index([0, 2, 3, 5, 9], dtype='int64')

22. Write a Pandas program to extract items at given positions of a given series.

In [73]:
ser1=pd.Series(np.random.randint(0,10,size=25))
print("Original Series:\n",ser1)
positions=[0,2,6,11,21]
print("Extract items at given positions of the said series:\n",ser1.iloc[positions])

Original Series:
 0     4
1     0
2     3
3     5
4     7
5     1
6     4
7     1
8     5
9     8
10    3
11    3
12    6
13    0
14    9
15    6
16    1
17    0
18    0
19    5
20    2
21    8
22    5
23    0
24    9
dtype: int32
Extract items at given positions of the said series:
 0     4
2     3
6     4
11    3
21    8
dtype: int32

23. Write a Pandas program to get the positions of items of a given series in another
given series.

In [85]:
ser1=pd.Series([1,2,3,4,5,6,7,8,9,10])
ser2=pd.Series([1,3,5,7,10])
print(f"Original Series:\n{ser1}\n{ser2}")
print("Positions of items of series2 in series1:",list(ser1[ser1.isin(ser2)].index))

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1: [0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper
case in each word of a given series.

In [100]:
ser=pd.Series(['Php','Python','Java',"C#"])
print("Original Series:\n",ser)
print("First and last character of each word to upper case:")
ser.str.capitalize().str[:-1]+ser.str[-1:].str.upper()

Original Series:
 0       Php
1    Python
2      Java
3        C#
dtype: object
First and last character of each word to upper case:

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given
series.

In [105]:
ser=pd.Series(['Php','Python','Java',"C#"])
print("Original Series:\n",ser)
print("Number of characters in each word in the said series:")
ser.str.len()

Original Series:
 0       Php
1    Python
2      Java
3        C#
dtype: object
Number of characters in each word in the said series:

0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive
numbers of a given series.

In [117]:
ser=pd.Series([1,3,5,8,10,11,15])
test=ser.diff()
print("Original Series:\n",ser)
print("\nDifference of differences between consecutive numbers of the said series:")
print(list(test))
print(list(test.diff()))

Original Series:
 0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

27. Write a Pandas program to convert a series of date strings to a timeseries.

In [122]:
ser=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print('Original Series:\n',ser)
print("\nSeries of date strings to a timeseries:\n",pd.to_datetime(ser))

Original Series:
 0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
 0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day
of week from a given series of date strings.

In [125]:
ser=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
ser1=pd.to_datetime(ser)
day_of_month = ser1.dt.day.tolist()
day_of_year = ser1.dt.dayofyear.tolist()
week_number = ser1.dt.isocalendar().week.tolist()
day_of_week = ser1.dt.day_name().tolist()

print("Original Series:\n", ser)
print("\nDay of month:\n", day_of_month)
print("\nDay of year:\n", day_of_year)
print("\nWeek number:\n", week_number)
print("\nDay of week:\n", day_of_week)

Original Series:
 0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Day of month:
 [1, 2, 7, 6, 12, 6]

Day of year:
 [1, 276, 66, 126, 103, 96]

Week number:
 [1, 39, 10, 19, 15, 14]

Day of week:
 ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [130]:
ser=pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018','May 2019'])
new_dates = pd.to_datetime(ser) + pd.offsets.Day(11 - 1)
print("Original Series:\n", ser)
print("\nNew dates:\n", new_dates)

Original Series:
 0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
 0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [135]:
ser = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

def count_vowels(word):
    vowels = set('aeiouAEIOU')
    return sum(1 for char in word if char in vowels)

filtered_words = ser[ser.apply(count_vowels) >= 2]

print("Original Series:\n", ser)
print("\nFiltered words:\n", filtered_words)

Original Series:
 0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
 1     Green
2    Orange
4    Yellow
5     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series. Euclidean distance

In [136]:
import numpy as np
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
ser2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

euclidean_distance = np.sqrt(np.sum((ser1 - ser2) ** 2))

print("Original series:")
print(ser1)
print(ser2)
print("\nEuclidean distance between two said series:")
print(euclidean_distance)

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [146]:
ser=pd.Series([1,8,7,5,6,5,3,4,7,1])
ser.diff()
positions = ser[(ser > ser.shift(1)) & (ser > ser.shift(-1))].index
print("Original series:")
print(ser)
print("\nPositions of the values surrounded by smaller values on both sides:")
print(positions.tolist())

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1, 4, 8]

33. Write a Pandas program to replace missing white spaces in a given string with the
least frequent character.

In [159]:
str1 = "abc def abcdef icd"

ser = pd.Series(list(str1))
least_frequent_char = ser.value_counts().idxmin()
ser = ser.replace(' ', least_frequent_char)
result = ''.join(ser)

print("Original string:")
print(str1)
print("\nString after replacing white spaces with the least frequent character:")
print(result)

Original string:
abc def abcdef icd

String after replacing white spaces with the least frequent character:
abcidefiabcdefiicd

34. Write a Pandas program to compute the autocorrelations of a given numeric series.

In [163]:
ser = pd.Series(np.random.randn(15))
autocorrelations = [ser.autocorr(lag) for lag in range(len(ser))]

print("Original series:")
print(ser)
print("\nAutocorrelations of the said series:")
print(autocorrelations)

Original series:
0    -1.686349
1    -0.487542
2    -0.191571
3    -0.061466
4     3.414454
5    -0.004184
6    -0.766418
7     1.494828
8    -1.202563
9    -1.767017
10   -1.630882
11    0.132427
12   -1.645991
13    0.961100
14   -0.606630
dtype: float64

Autocorrelations of the said series:
[1.0, -0.015394955697452625, 0.010052401552315921, 0.1298900872766288, -0.30306602133008986, -0.5734743751096916, -0.06520925671870077, -0.12717465672155318, -0.17873219792052908, 0.8187049960907322, 0.1644875200316644, -0.10992322001505445, 0.676242086842873, -1.0, nan]

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [166]:
year = 2020
sundays = pd.date_range(start=f'{year}-01-01', end=f'{year}-12-31', freq='W-SUN')
sun_ser=pd.Series(sundays)
print(f"All Sundays of {year}:")
print(sun_ser)

All Sundays of 2020:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [170]:
ser1=pd.Series([0,1,2,3,4],index=list("ABCDE"))
df=pd.DataFrame(ser1)
print("Sample Output:")
df.reset_index()

Sample Output:

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

37. Write a Pandas program to stack two given series vertically and horizontally.

In [182]:
ser1 = pd.Series([0,1, 2, 3, 4, 5, 6, 7, 8, 9])
ser2 = pd.Series(list("apqrsvwxyz"))
print("Original Series:",ser1)
print(ser2)
print('Stack two given series vertically and horizontally:\n',pd.concat([ser1,ser2],axis=1))

Original Series: 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    a
1    p
2    q
3    r
4    s
5    v
6    w
7    x
8    y
9    z
dtype: object
Stack two given series vertically and horizontally:
    0  1
0  0  a
1  1  p
2  2  q
3  3  r
4  4  s
5  5  v
6  6  w
7  7  x
8  8  y
9  9  z

38. Write a Pandas program to check the equality of two given series.

In [186]:
ser1=pd.Series([0,1,2,3,4,5,6,7,8,9])
ser2=pd.Series([0,1,2,3,4,5,6,7,8,9])
print("Original Series:",ser1)
print(ser2)
print("Check 2 series are equal or not?")
out=ser1==ser2
print(out)

Original Series: 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [187]:
ser1=pd.Series([0,1,2,3,4,5,6,7,8,9])
print("Original Series:\n",ser1)
print("Index of the first occurrence of the smallest and largest value of the said series:",ser1.idxmin(),ser1.idxmax())

Original Series:
 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series: 0 9

40. Write a Pandas program to check inequality over the index axis of a given dataframe
and a given series.

In [191]:
data={"W":[68.0,75.0,86.0,80.0,np.nan],
      "X":[78.0,75.0,np.nan,80.0,86.0],
      "Y":[84,94,89,86,86],
      "Z":[86,97,96,72,83]}
df=pd.DataFrame(data)
series=pd.Series([68.0,75.0,86.0,80.0,np.nan])

result_df=df.ne(series,axis=0)
print("Original DataFrame:\n",df)
print("Original Series:\n",series)
print("Check for inequality of the said series & dataframe:\n",result_df)

Original DataFrame:
       W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83
Original Series:
 0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64
Check for inequality of the said series & dataframe:
        W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True