In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('titanic-tested.csv')
print(df['Age'].describe())

#count the number of null values in the age column
null_count=df['Age'].isnull().sum()
print("number of null values in the age column", null_count)

count    332.000000
mean      30.272590
std       14.181209
min        0.170000
25%       21.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: Age, dtype: float64
number of null values in the age column 86

In [ ]:
# 1 handle missing values in the age column
# replace missing values with median age
df['Age']=df['Age'].fillna(df['Age'].median()) 

# 2. remove outliees in the age column (assuming age > 100 are outlies)
df=df[df['Age']<=100]

# 3. Ensure the age column has consistant datatypes
df['Age'] = df['Age'].astype(float)

#display cleaned info
print(df.info())
df.Age.describe()

# save cleaned data to csv
df.to_csv('titanic cleaned.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Gender       418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 42.5+ KB
None